@use 'variables' as v;
@use '../utilidades/mixin' as m;

h1 {
    font-family: v.$fuente-h1;
    color: v.$text-secundario;
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
    
    span {
        color: #f5c518;
        @include m.transition(text-shadow, 0.8s, linear);

        &:hover {
            text-shadow: 2px 2px 20px rgb(255, 229, 97);
        }

    }
}

h2 {
    font-family: v.$fuente-h2;
}

h3 {
    font-family: v.$fuente-otros-titulos;
}

p {
    font-family: v.$fuente-texto;
}

.titulo-pelicula {
    font-family: v.$fuente-peliculas;
    font-size: 170px;
    color: v.$text-secundario;
}
