@use 'variables' as *;

// Asignar la fuente a los textos
h1 {
    font-family: $fuente-h1;
}

h2 {
    font-family: $fuente-h2;
}

h3 {
    font-family: $fuente-otros-titulos;
}

p {
    font-family: $fuente-texto;
}

.titulo-pelicula {
    font-family: $fuente-peliculas;
}