@use 'variables' as v;

h1 {
    font-family: v.$fuente-h1;
    color: v.$text-secundario;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: v.$fuente-h2;
}

h3 {
    font-family: v.$fuente-otros-titulos;
}

p {
    font-family: v.$fuente-texto;
}

.titulo-pelicula {
    font-family: v.$fuente-peliculas;
    font-size: 180px;
    color: v.$text-secundario;
}
