// VARIABLES ================================
// Fuentes ----------------------------------
$fuente-texto:         'Roboto', sans-serif;
$fuente-h1:            'Oswald', sans-serif;
$fuente-h2:            'Montserrat', sans-serif;
$fuente-otros-titulos: 'Poppins', sans-serif;
$fuente-peliculas:     'Bebas Neue', sans-serif;

// Colores ---------------------------------
$bg-header-footer:   black;
$bg-fondo-principal: #101338;
$text-nav:           rgb(239,244,255);
$text-principal:     #D4AF37;
$text-secundario:    #e4e4e4;
$text-hover:         #7a97ff;

// Espacios
$header-height: 60px;
$sidebar-width: 260px;
$transition:    all 0.3s ease;
