@use '../base/variables' as v;
@use '../utilidades/mixin' as m;

// ======================= ESTILO CABECERA =========================
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$bg-header-footer;

    // Enlaces dentro del header
    a {
        color: v.$text-nav;
        font-size: 22px;
        padding: 5px;
        @include m.transition(color, 0.8s, ease);

        &:hover {
            color: rgb(167, 139, 0);
        }
    }
}

// ======================= ICONOS =========================
.icono {
    width: 28px;
    height: 28px;
}

.icono-sesion {
    width: 43px;
    height: 43px;
    margin: 0 20px 15px 0;
}

// ======================= MENU PRINCIPAL =========================
.menu ul {
    display: flex;
    gap: 10px;

    a {
        display: flex;
        gap: 3px;
    }
}

// ======================= BUSCADOR =========================
.buscador>form {
    display: flex;
    gap: 10px;

    input {
        border: none;
        border-radius: 5px;
        padding: 2px;
        background-color: rgb(255, 248, 205);
    }
}

// ======================= MENU SESIÓN =========================
.menu-sesion {
    position: relative;

    ul {
        padding: 0;
        margin: 0;
    }

    .dropdown {
        position: relative;
    }

    .submenu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(254, 254, 240);
        padding: 10px 0;
        min-width: 150px;
        border-radius: 5px;
        display: none;
        z-index: 2;
    }

    .submenu li {
        padding: 8px 15px;

        a {
            color: rgb(0, 0, 0);
            display: block;
            font-size: 18px;
            @include m.transition(text-shadow, 0.8s, linear);

            &:hover {
                text-shadow: 0 0 2px rgb(4, 4, 4);
            }
        }
    }

    // Mostrar submenu al hacer hover
    .dropdown:hover .submenu {
        display: block;
    }
}
