@use '../base/variables' as v;
@use '../utilidades/mixin' as m;

// ======================= ESTILO CABECERA =========================
header {
    display: flex;
    flex-direction: column;
    background-color: v.$bg-header-footer;
    padding-top: 15px;
    gap: 10px;

    // Enlaces dentro del header
    a {
        color: v.$text-nav;
        font-size: 22px;
        padding: 5px;
        @include m.transition(color, 0.8s, ease);

        &:hover {
            color: v.$text-hover;
        }
    }
}

// ====================
.contenedor-logo-sesion {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    min-height: 50px;
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

}

// ======================= ICONOS =========================
.icono {
    width: 26px;
    height: 26px;
}

.icono-sesion {
    width: 43px;
    height: 43px;
    margin: 0 20px 15px 0;
}

// ======================= MENU PRINCIPAL =========================
.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
        display: flex;
        align-items: center; /* centra verticalmente icono y texto */
        gap: 6px;           /* espacio entre icono y texto */
    }
}

// ============ CONTENEDOR de BUSCADOR Y MENU ===============
.container-menu-buscador {
    display: flex;
    justify-content: center;
}

// ======================= BUSCADOR =========================
.buscador { 
    display: flex; 
    gap: 10px;
    
    input {
        display: none;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        background-color: rgb(255, 248, 205);
    }
}

// ======================= MENU SESIÓN =========================
.menu-sesion {
    position: relative;
    margin-left: auto; // lo empuja a la derecha

    ul {
        padding: 0;
        margin: 0;
    }

    .dropdown {
        position: relative;
    }

    .submenu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(254, 254, 240);
        padding: 10px 0;
        min-width: 150px;
        border-radius: 5px;
        display: none;
        z-index: 2;
    }

    .submenu li {
        padding: 8px 15px;

        a {
            color: rgb(0, 0, 0);
            display: block;
            font-size: 18px;
            @include m.transition(text-shadow, 0.8s, linear);

            &:hover {
                text-shadow: 0 0 2px rgb(4, 4, 4);
            }
        }
    }

    // Mostrar submenu al hacer hover
    .dropdown:hover .submenu {
        display: block;
    }
}

// ==== Diseño de Iconos de Font Google ===============
.menu i{
    color: v.$text-nav;
}

.menu-item:last-child{
    margin-left:40px;
}

// ======== EFECTO DEL ITEM RESERVA:MENU-SESION ========
.item-reserva {
    background: transparent; /* color de fondo */
    color: v.$text-nav;
    /* color de fuente */
    border: 3px double #48006f;  /* tamaño y color de borde */
    padding: 3px 13px;
    border-radius: 5px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    left: 40px;
}

.item-reserva::after {
    content: "";
    background: #48006f;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.item-reserva:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

.item-reserva:hover {
    color: #fff;
}

// =========================================================
// CABECERA ADMIN ==========================================
// =========================================================
.header-admin {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #000924;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

