@use '../base/variables' as v;
@use '../utilidades/mixin' as m;

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: v.$text-secundario;
    padding: 8px 0;

    .container-footer {
        display: flex;
        justify-content: space-between;
        padding: 2px 45px;
    }

    .copy {
        text-align: center;
    }

    // Listas sin padding
    ul {
        padding: 0;
    }

    // Enlaces
    a {
        color: v.$text-nav;
        display: inline-block;
        @include m.transition(all, 0.3s, ease);
        @include m.hover-move-right(4px);

        &:hover {
            color: #fffab9;
        }
    }

    .subtitulo {
        font-size: 24px;
        color: v.$text-principal;
        text-shadow: 1px 1px 1px rgba(254, 255, 238, 0.996);
    }
}

// Iconos de redes sociales
.iconos-redes-sociales {
    display: flex;
    gap: 30px;

    .icon {
        font-size: 32px;
        @include m.transition(transform, 1.8s, ease);

        &:hover {
            transform: scale(1.1);
        }
    }
}

// Títulos del footer
.titulo-logo {
    font-size: 35px;
    text-shadow: 1px 1px 1px rgba(254, 255, 238, 0.996);
}

.footer-titulo {
    color: v.$text-principal;
}

