footer {
    display: flex;
    flex-direction: column;
    background-color: black ;
    color: $text-secundario;
    padding: 8px 0px;

    .container-main {
        display: flex;
        padding: 2px 45px;
        justify-content: space-between;
    }

    .copy { text-align: center; }

    // Se formatea el padding del las listas
    ul { padding: 0;}

    //Estilo para enlaces
    a { 
        color: $text-nav;
        display: inline-block;
        @include transition(all 0.3s ease);
        @include hover-move-right(4px); // se moverán al pasar el mouse

        &:hover {
            color: #fffab9; // cambio de color en hover
        }
    }

    .subtitulo {
        font-size: 24px;
        color: $text-principal;
        text-shadow: 1px 1px 1px rgba(254, 255, 238, 0.996);
    }
}

// Estilo para iconos: posicionamiento y transiciones
.iconos-redes-sociales {
    display: flex;
    gap: 30px;

    .icon {
        font-size: 32px;

        // Animación suave para iconos
        @include transition(transform 1.8s ease);

        &:hover { transform: scale(1.1); }
    }
}

.titulo-logo {
    text-shadow: 1px 1px 1px rgba(254, 255, 238, 0.996);
    font-size: 35px;
}

.footer-titulo { color: $text-principal; }
