@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 2px solid rgb(255, 255, 255);
  margin: 0px 25px;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #e4e4e4;
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}
h1 span {
  color: #f5c518;
  transition: text-shadow 0.8s linear;
}
h1 span:hover {
  text-shadow: 2px 2px 20px rgb(255, 229, 97);
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.titulo-pelicula {
  font-family: "Bebas Neue", sans-serif;
  font-size: 170px;
  color: #e4e4e4;
}

header {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-top: 15px;
  gap: 10px;
}
header a {
  color: rgb(239, 244, 255);
  font-size: 22px;
  padding: 5px;
  transition: color 0.8s ease;
}
header a:hover {
  color: #7a97ff;
}

.contenedor-logo-sesion {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 50px;
}
.contenedor-logo-sesion .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icono {
  width: 26px;
  height: 26px;
}

.icono-sesion {
  width: 43px;
  height: 43px;
  margin: 0 20px 15px 0;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.menu ul a {
  display: flex;
  align-items: center; /* centra verticalmente icono y texto */
  gap: 6px; /* espacio entre icono y texto */
}

.container-menu-buscador {
  display: flex;
  justify-content: center;
}

.buscador {
  display: flex;
  gap: 10px;
}
.buscador input {
  display: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgb(255, 248, 205);
}

.menu-sesion {
  position: relative;
  margin-left: auto;
}
.menu-sesion ul {
  padding: 0;
  margin: 0;
}
.menu-sesion .dropdown {
  position: relative;
}
.menu-sesion .submenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(254, 254, 240);
  padding: 10px 0;
  min-width: 150px;
  border-radius: 5px;
  display: none;
  z-index: 2;
}
.menu-sesion .submenu li {
  padding: 8px 15px;
}
.menu-sesion .submenu li a {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 18px;
  transition: text-shadow 0.8s linear;
}
.menu-sesion .submenu li a:hover {
  text-shadow: 0 0 2px rgb(4, 4, 4);
}
.menu-sesion .dropdown:hover .submenu {
  display: block;
}

.menu i {
  color: rgb(239, 244, 255);
}

.menu-item:last-child {
  margin-left: 40px;
}

.item-reserva {
  background: transparent; /* color de fondo */
  color: rgb(239, 244, 255);
  /* color de fuente */
  border: 3px double #48006f; /* tamaño y color de borde */
  padding: 3px 13px;
  border-radius: 5px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  left: 40px;
}

.item-reserva::after {
  content: "";
  background: #48006f;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.item-reserva:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.item-reserva:hover {
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #e4e4e4;
  padding: 8px 0;
}
footer .container-footer {
  display: flex;
  justify-content: space-between;
  padding: 2px 45px;
}
footer .copy {
  text-align: center;
}
footer ul {
  padding: 0;
}
footer a {
  color: rgb(239, 244, 255);
  display: inline-block;
  transition: all 0.3s ease;
  transition: transform 0.3s ease;
}
footer a:hover {
  transform: translateX(4px);
}
footer a:hover {
  color: #fffab9;
}
footer .subtitulo {
  font-size: 24px;
  color: #D4AF37;
  text-shadow: 1px 1px 1px rgba(254, 255, 238, 0.996);
}

.iconos-redes-sociales {
  display: flex;
  gap: 30px;
}
.iconos-redes-sociales .icon {
  font-size: 32px;
  transition: transform 1.8s ease;
}
.iconos-redes-sociales .icon:hover {
  transform: scale(1.1);
}

.titulo-logo {
  font-size: 35px;
  text-shadow: 1px 1px 1px rgba(254, 255, 238, 0.996);
}

.footer-titulo {
  color: #D4AF37;
}

.carousel-inner {
  width: 100%;
}

.carousel-item img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  /* Mantiene la proporción sin distorsionar */
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  margin: 0 40px 0 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
  height: 100%;
  background-size: contain;
  display: block;
  color: white;
}

.hexagono {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(174, 173, 173, 0.5); /* color de la flecha */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-size: 50% 50%; /* opcional si quieres usar icono dentro */
}

.btn-reservar {
  background-color: rgba(0, 0, 0, 0.414);
  text-shadow: 2px 2px 15px black;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 22px;
  transition: color 0.8s linear;
}
.btn-reservar:hover {
  color: rgb(249, 238, 169);
}

.carousel-item {
  position: relative;
}

.capa {
  position: absolute;
  top: 40px;
  left: 17%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

body {
  background-color: #030016;
}/*# sourceMappingURL=main.css.map */