@use '../base/variables' as v;

.admin {
    margin: 0;
    overflow-x: hidden;
    background: #fff;
}

.main-admin {
    margin-left: v.$sidebar-width; // ajusta con sidebar
    padding: 20px;
    padding-top: calc(#{v.$header-height} + 20px); // evita estar debajo del header
    min-height: calc(100vh - #{v.$header-height}); // asegura que main ocupe toda la ventana
}
