// MIXINS ======================================================

// Mixin para cualquier propiedad animable ---------------------
@mixin transition($properties, $duration: 0.3s, $ease: ease) {
    transition: $properties $duration $ease;
}


// Mixin para cambiar el color en enlaces ----------------------
@mixin link-hover($color) {
    @include transition(color 0.3s ease);

    &:hover {
        color: $color;
    }
}

// Mixin para mover elementos a la derecha
@mixin hover-move-right($distance: 4px, $duration: 0.3s) {
    transition: transform $duration ease;

    &:hover {
        transform: translateX($distance);
    }
}

// Mixin para centrar horizontalmente y verticalmente ----------
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}