// VARIABLES ================================
// Fuentes ----------------------------------
$fuente-texto: 'Roboto', sans-serif;
$fuente-h1: 'Oswald', sans-serif;
$fuente-h2: 'Montserrat', sans-serif;
$fuente-otros-titulos: 'Poppins', sans-serif;

// Colores ---------------------------------
$bg-header-footer: black;
$bg-fondo-principal: #101338;
$text-nav: rgb(255, 249, 232);
$text-principal: #D4AF37;
$text-secundario: #ffffff;


