// IMPORTAR FUENTE/S =============================
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); // Roboto
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); // Montserrat
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); // Poppins
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); // Oswald

// VARIABLES ================================
// Fuentes ----------------------------------
$fuente-texto: 'Roboto', sans-serif;
$fuente-h1: 'Oswald', sans-serif;
$fuente-h2: 'Montserrat', sans-serif;
$fuente-otros-titulos: 'Poppins', sans-serif;

// Colores ---------------------------------
$bg-header-footer: black;
$bg-fondo-principal: #101338;
$text-nav: rgb(255, 244, 211);
$text-principal: #D4AF37;
$text-secundario: #ffffff;


